# UI Testing URLs
UI_BASE_URL=

# API Testing URLs
API_BASE_URL=

# Standard UI Credentials
STANDARD_USER=
LOCKED_OUT_USER=
PROBLEM_USER=
PERFORMANCE_GLITCH_USER=
ERROR_USER=
VISUAL_USER=
VALID_PASSWORD=

# API Credentials
API_USERNAME=
API_PASSWORD=
